body {
  display: flex;
  flex-direction: column;
  font-family: Arial, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  background: darkmagenta;
  color: white;
  padding: 16px;
  font-weight:900;
  font-size: 32px;
}

.footer {
  display: flex;
  height: 56px;
  background: #eee;
  color: darkmagenta;
  align-items: center;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: royalblue;
  margin-right: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  max-height: 400px;
}

ul {
  list-style-type: none;
  margin : 0;
  padding : 0;
}

li {
  margin: 16px 8px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
}

.card {
  padding-left: 12px;
  padding-top: 12px;
  max-width : 250px;
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
  flex : auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width : 200px;
}


.sidebar-card-container {
  display: flex;
  flex : 1;
}
